.container {
    background-color: #d9d9d9;
    height: 46.25vh;
    width: 20vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 15px;
    box-shadow: 0 2px 8px rgba(20,20,20,0.2);
}
.header {
    margin-top: 1vh;
    font-size: 1.5rem;
}
.tag-panel {
    width: 95%;
}
.info-panels {
    width: 95%;
    margin-bottom: 1.5vh;
}
.info-panels > * {
    height: 5.5vh;
    margin-top: 1.5vh;
}
.link {
    font-style: oblique;
    text-decoration: underline;
    margin-bottom: 1%;
}
