#post-container {
    background-color: white;
    padding: 1rem;
    border-radius: 10px;
}

.prof-pic-container {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid lightgray;
}

.prof-pic {
    width: 40px;
    height: 40px;
}

.post-details {
    display: flex;
    gap: 1.2rem;
    margin-bottom: .5rem;
    /*align-items: center;*/
}

.poster-details {
    display: flex;
    flex-direction: column;
}

.post-image {
    max-width: 100%;
}

#tags {
    margin: 0.5rem 0;
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
    gap: 0.5rem;
}

.tag {
    /* display: inline-block; */
    background-color: rgb(93, 194, 203);
    border-radius: 5px;
    padding: 0.1rem 0.5rem;
}

#interactions {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
}

#comment-section {
    display: flex;
    justify-content: center;
}

#interactions > * {
    /* display: flex; */
}

@media (min-width: 600px){
    #post-container {
        margin-bottom: 1rem;
        padding: 1rem 1.6rem;
        border-radius: 10px;
    }

    .post-details {
        margin-bottom: 0;
        /*align-items: center;*/
    }

    .prof-pic {
        width: 100%;
        /*width: auto;*/
        display: block;
        max-width: none;
        object-fit: cover;
    }

    .img-container {
        padding-top: 0.5rem;
    }


}

