#homepage-container {
    margin: 1.6rem auto;
    max-width: 1200px;
}

.prof-pic-container {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid lightgray;
}

#create-post {
    display: flex;
    justify-content: space-between;
    padding: 1.6rem;
    align-items: center;
    background-color: white;
    /*height: 100px;*/
    border-radius: 10px;
    margin-top: 1rem;
}

#post-text {
    resize: none;
    width: 80%;
    min-height: 50px;
    font-size: 1.2rem;
    border-radius: 10px;
    /*overflow-y: hidden;*/
}

#trending {
    border-radius: 10px;
    padding: 0 1rem;
    background-color: white;
    /*width: 45%;*/
    margin-top: 1rem;
}

@media (min-width: 600px) {
    #homepage-container {
        /*max-width: 1200px;*/
    }



    #right-contents {
        /*display: flex;*/
        /*margin-top: 1rem;*/
        /*gap: 5%;*/
        width: 35%;
    }

    #feed-container, #trending {

    }

    #feed-container {
        width: 60%;
    }



    .prof-pic-container {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid lightgray;
    }

    .prof-pic {
        width: 100%;
        /*width: auto;*/
        display: block;
        max-width: none;
        object-fit: cover;
    }
}