body {
    background-color: #C3854F;
}
/* main */
.container{
    display: flex;
    flex-direction: column;
}
.sticky-panels {
    display: none;
}
/* create post */
.feed-container, .feed-posts-container > * {
    margin-top: 2vh;
}
.create-post {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2vh 1.5vh;
    background-color: white;
    border-radius: 10px;
}
.prof-pic-container {
    aspect-ratio: 1;
    height: 6vh;
    margin-right: 2vh;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    border: 1px solid lightgray;
}
.prof-pic {
    aspect-ratio: 1;
    height: 100%;
}
.new-post-text {
    resize: none;
    min-height: 6vh;
    vertical-align: middle;
    width: 80%;
    padding: 0 0.5vh;
    font-size: 1.15rem;
    border-radius: 10px;
}

@media (min-width: 1024px) {
    .feed-container {
        margin: 0;
    }
    .container{
        margin: 2.5%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .sticky-panels {
        position: sticky;
        height: 86.2vh;
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    .sticky-panels > * {
        width: 20%;
    }
    .feed-container {
        position: absolute;
        left: 25%;
        padding: 2.5%;
        width: 50%;
        background-color: lightgray;
        border-radius: 15px;
    }
    .feed-container > * {
        box-shadow: 0 5px 8px rgba(20,20,20,0.2);
    }
}